.right-side-info {
    position: fixed;
    right: 0;
    bottom: 40%;

    border: none;
    border-radius: 15px;
    padding: 25px;
    margin: 25px;

    height: 250px;  
    width: 250px;
    background-color: #11646F;
    color:#f0ffff;
    opacity: 0.0;
}

.anim-from-0-to-1 {
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.anim-from-1-to-0 {
    animation-name: hide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes show {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

@keyframes hide {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.right-side {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 25px;

    border: none;
    border-radius: 15px;

    height: 50px;
    width: 250px;
    background-color: #11646F26;
}

.right-side-top {
    position: fixed;
    right: 0;
    top: 0;
    margin: 25px;

    border: none;
    border-radius: 15px;

    height: 50px;
    width: 290px;
    background-color: #11646F26;
}