canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #24252e;
}

button {
  background-color: white;
  color: white;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 5px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: #aaaacc;
  color: #aaaacc;
}

button:active {
  background: #9999cc;
  color: #9999cc;
}

.button-content {
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  font-size: large;
}

.reset {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.l:link {
  color: #44E4FF;
}

.l:visited {
  color: #44E4FF;
}

.l:hover {
  color: #009999;
}

.l:active {
  color: #44E4FF;
}

.white {
  font-family: sans-serif;
  color:azure;
}

.left-side {
  position: fixed;
  left: 0;
  top:0;
  margin: 25px 25px 25px 25px;
  padding: 15px;

  border: none;
  border-radius: 15px;

  width: 250px;
  background-color: #11646F26;
  display: flex;
  flex-direction: column;
}

.centered {
  text-align: center;
  padding: 2px 5px 2px 5px;
  margin: auto;
}

.vertical {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.settings {
  padding-top: 15px; 
  border-top: 2px; 
  border-color: aliceblue;
}